.box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  width: 960px;
  margin-left: -480px;
}
.box .inner {
  margin: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #ecf0f1;
}
