doctype html
html
  head
    meta(chaset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    block title
    link(href='https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css' rel='stylesheet')
  body
    block content
    script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
    script(src='https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js')